version: '3.7'

x-common-variables: &common
  StuffyHelper__Endpoints__EmailEndpoint: ${EMAIL_ENDPOINT}
  StuffyHelper__Endpoints__AuthorizationEndpoint: ${AUTH_ENDPOINT}
  StuffyHelper__Endpoints__StuffyEndpoint: ${STUFFY_ENDPOINT}
  StuffyHelper__MinioStore__Endpoint: ${MINIO_ENDPOINT}
  StuffyHelper__MinioStore__AccessKey: ${MINIO_ACCESS}
  StuffyHelper__MinioStore__SecretKey: ${MINIO_SECRET}
  StuffyHelper__MinioStore__NetworkTimeout: 3600
  StuffyHelper__MinioStore__PresignedUrlExpiry: 12:00:00
  StuffyHelper__FileStore__ContainerName: ${FILE_CONTAINER_NAME}
  StuffyHelper__EntityFramework__DbProvider: ${EF_PROVIDER}
  StuffyHelper__EntityFramework__ConnectionString: ${EF_CONN_STR}
  StuffyHelper__Authorization__ConnectionString: ${AUTH_CONN_STR}
  StuffyHelper__Authorization__JWT__Secret: ${AUTH_JWT_SECRET}
  StuffyHelper__Authorization__JWT__ValidIssuer: ${AUTH_JWT_ISSUER}
  StuffyHelper__Authorization__JWT__ValidAudience: ${AUTH_JWT_AUDIENCE}
  StuffyHelper__Authorization__JWT__TokenExpireInHourse: 24
  StuffyHelper__CheckFinderClient__Endpoint: ${CHECK_FINDER_ENDPOINT}
  StuffyHelper__EmailService__Server: ${EMAIL_SERVER}
  StuffyHelper__EmailService__Port: ${EMAIL_PORT}
  StuffyHelper__EmailService__Account: ${EMAIL_ACCOUNT}
  StuffyHelper__EmailService__Password: ${EMAIL_PASSWORD}
  StuffyHelper__EmailService__SenderEmail: ${EMAIL_SENDER_EMAIL}
  StuffyHelper__EmailService__SenderName: ${EMAIL_SENDER_NAME}
  StuffyHelper__Frontend__Endpoint: ${FRONTEND_ENDPOINT}

services:
  stuffy-gateway:
    image: slavadno/stuffy-gateway:latest
    ports:
      - 7654:7654
    environment: 
      <<: *common
    depends_on:
      - stuffy
    networks:
      - app-network

  stuffy:
    image: slavadno/stuffy-core:latest
    # ports:
      # - 7777:7777
    environment: 
      <<: *common
    restart: always
    depends_on:
      - postgres-web
      - s3
      - stuffy-email
      - stuffy-auth
    networks:
      - app-network

  stuffy-auth:
    image: slavadno/stuffy-auth:latest
    # ports:
      # - 7168:7168
    environment: 
      <<: *common
    depends_on:
      - postgres-web
      - s3
      - stuffy-email
    restart: always
    networks:
      - app-network
  
  stuffy-email:
    image: slavadno/stuffy-email:latest
    # ports:
      # - 7755:7755
    environment: 
      <<: *common
    restart: always
    networks:
      - app-network
      
  postgres-web:
    image: postgres:12.4-alpine
    environment:
        - POSTGRES_MULTIPLE_DATABASES=${POSTGRES_MULTIPLE_DATABASES}
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
        - ../stuffydata/postgresql/data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network
    
  s3:
    image: minio/minio
    ports:
      - "9000:9000"
    volumes:
      - ../stuffydata/minio/data:/data
    environment:
      MINIO_ACCESS_KEY: ${MINIO_ACCESS}
      MINIO_SECRET_KEY: ${MINIO_SECRET}
    command: server /data
    networks:
      - app-network
    restart: always
      
  #gateway:
  #  image: nginx:alpine
  #  ports:
  #    - "80:80"
  #    - "443:443"  # Если нужен HTTPS
  #  volumes:
  #    - ./nginx/nginx.conf:/etc/nginx/nginx.conf  # Основной конфиг
  #  depends_on:
  #    - stuffy-email
  #    - stuffy-auth
  #    - stuffy
  #  restart: always

networks:
  app-network:
    driver: bridge
